@using Bluehill.Blazor.Layout
@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> Loc
@attribute [System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]

<CultureBluehillLayout HeadLinks="@([new(Loc["Home"], "."), new(Loc["TryJosa"], "tryjosa"), new(Loc["TryChar"], "trychar"), new(Loc["Changelog"], "changelog")])">
    <Body>
        @Body
    </Body>
</CultureBluehillLayout>
