@using System.Globalization
@inject IJSRuntime JS
@inject NavigationManager Navigation

<p>
    <label>
        Select your locale:
        <select @bind="selectedCulture" @bind:after="ApplySelectedCultureAsync">
            @foreach (var culture in supportedCultures) {
                <option value="@culture">@culture.DisplayName</option>
            }
        </select>
    </label>
</p>

@code {
    private readonly CultureInfo[] supportedCultures = [new("ko-KR"), new("en-US")];
    private CultureInfo? selectedCulture;

    protected override void OnInitialized() => selectedCulture = CultureInfo.CurrentCulture;

    private async Task ApplySelectedCultureAsync() {
        if (CultureInfo.CurrentCulture != selectedCulture) {
            await JS.InvokeVoidAsync("blazorCulture.set", selectedCulture!.Name);

            Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
        }
    }
}
